.topicos{
background-image: var(--azul-degrade);
text-align: center;
padding:1em 0;
}

.topicos-titulo{
    color: var(--branco);
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.topicos-lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.topicos-item{
    margin: 2em 0.5em;
}
.topicos-link{
    text-decoration: none; /* tira o sublinhado do link */
    color: var(--branco); /* muda cor pra branco*/
    background-color: var(--laranja); /* muda a cor de fundo pra laranja */
    padding: 1em; /* afasta os links da borda, ou seja inernamente */    
    font-size: 14px; /* tamanho da fonte */
    font-weight: 700; /* peso da fonte */
}